body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#ffffff;
  }

.Navbar{
    top: 0;
    left: 0;
    position: fixed;
    margin: 0%;
    padding: 0%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-flow: column;
    /*display: block;*/
    background-color: #42f59e;
    width: 100%;
    justify-content: space-between;
}
.a{
    text-decoration: none;
    padding: 20px 150px;
    float: left;
    color: black;
    border: 0 2px solid #ccc;
    background-color: #42f59e;
}
.a:hover, a:focus{
    background-color: #3cbd7e;
    color: white;
}
.active{
    background-color: #3cbd7e;
    color: white;
} 

.Content{
    margin-top: 90px;
}
.Content1{
  margin-top: 60px;
  display: inline-block;
  align-items: center;
  /* flex-wrap: wrap; */
}
.box {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin-left: 25px;
    float:left; 
    text-align: center;
    width:30%;
    padding:10px;
}
.box1 {
  margin: 2px 5px;
  margin-bottom: 60px;
  border: 1px solid #3cbd7e;
  float:left;
  text-align: center;
  width:15%; /*auto*/
  height: 100%;
  flex-grow: 1;
}
.box2 {
  float:left;
  text-align: center;
  width:68.45%; /*fit-content*/
  flex-grow: 3;
}
.box1 p, .box2 p{
  font-size: 16px;
  line-height: 1.6em;
  text-align: justify ;
  padding: 8px;
}
.box2 p, .box2 img{
  text-align: center;
}
.box img:hover{
    transform: scale(1.2);
    transition: all .5s;
    /* animation: rotation 2s infinite linear; */
  }
  /* .Navbar i:hover, .Navbar ion-icon:hover, .Navbar img:hover{
     animation: rotation 2s infinite linear; 
  } */
  .Content1 img{
    display:block;
  }
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    font : inherit;
    text-align: center;
    background-color: #42f59e;
    height: 45px;
    width: 100%;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media(min-width: 600px){
    .Navbar{
        flex-flow: row;
    }
}